@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta);
}

:root {
  --background: #ffffff;
  --background-secondary: #f8f9fd;
  --foreground: #171717;
  --primary: #f57c00;
  --text-secondary: #2b2343;
  --text-secondary-1: #6a1b9a;
  --text-secondary-2: #6a2c8f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta);
  scroll-behavior: smooth !important;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

.journal-grid {
  display: grid;
}
.journal-slider {
  display: none;
}

@media (max-width: 973px) {
  .journal-grid {
    display: none;
  }
  .journal-slider {
    display: block;
  }
}

.main-container {
  @apply mx-auto w-full max-w-[95%] md:max-w-[90%] xl:max-w-[67%] 2xl:max-w-[75%];
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--background-secondary);
}

.bg-primary-gradient {
  background: linear-gradient(96.26deg, #ffa726 0%, var(--primary) 50%);
}

.bg-blue-gradient {
  background: linear-gradient(96.26deg, #0993ab 0%, #09748d 50%);
}

/* borders */
.b-1 {
  @apply border-[1px] border-[#D4D4D4];
}

.b-2 {
  @apply border-[1px] border-[#D9D9D9];
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--text-secondary-1);
}

.ring-primary {
  --tw-ring-color: rgba(165, 105, 46, 0.1);
}

/* text */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-secondary-1 {
  color: var(--text-secondary-1);
}

.text-secondary-2 {
  color: var(--text-secondary-2);
}

.text-primary-gradient {
  background: linear-gradient(96.26deg, #ffa726 0%, var(--primary) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-blue-gradient {
  background: linear-gradient(to right, #0993ab 0%, #09748d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-purple-gradient {
  background: linear-gradient(180deg, #ce93d8 0%, #6a1b9a 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.chezzer-text {
  font-family: sans-serif;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--primary);
  background-color: transparent;
}

.bigchez-text {
  font-family: sans-serif;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffa726;
  background-color: transparent;
  color: white;
}

.btn-h-86 {
  @apply !px-12 !py-5 text-xl lg:!px-18 lg:!py-5 lg:!text-2xl xl:!py-6.5;
}

.filter-container::before {
  content: "";
  display: block;
  height: 9px;
  width: 60px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 81px;
}

.badge-angle {
  clip-path: polygon(81% 50%, 0 0, 0 100%);
}

.clip-inclined {
  clip-path: polygon(0% 100%, 100% 80%, 100% 0%, 0% 20%);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' width='16' height='10' fill-opacity='0.57' fill='black'%3E%3Cpath fill-rule='evenodd' d='M8.03651 9.18391C7.8855 9.18478 7.73581 9.15584 7.59601 9.09874C7.45622 9.04164 7.32907 8.95751 7.22185 8.85116L0.337441 1.96675C0.121381 1.75069 0 1.45765 0 1.1521C0 0.846542 0.121381 0.553501 0.337441 0.337441C0.553501 0.121381 0.846542 0 1.1521 0C1.45765 0 1.75069 0.121381 1.96675 0.337441L8.03651 6.41867L14.1063 0.348916C14.3258 0.160941 14.6081 0.0627159 14.8969 0.0738699C15.1857 0.085024 15.4596 0.204736 15.6639 0.409082C15.8683 0.613428 15.988 0.887357 15.9991 1.17613C16.0103 1.4649 15.9121 1.74725 15.7241 1.96675L8.83969 8.85116C8.62597 9.06314 8.33752 9.18264 8.03651 9.18391Z' clip-rule='evenodd' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.3rem;
  padding-right: 2.5rem;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}
